@using EntityLayer.Concrete
@model List<User>
@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Müşterileri Listele</h2>
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Telefon Numarası</th>
        <th>Kaportacısı</th>
        <th>Dosyalar</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.Password</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Mechanic.MechanicUserName</td>
                    <td><a href="/AdminPanel/ListFilesByUser/@item.UserId" class="btn btn-primary">Dosyalar</a></td>
                    <td><a href="/AdminPanel/DeleteUser/@item.UserId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/AdminPanel/EditUser/@item.UserId" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
</table>
<br />
<a href="/AdminPanel/AddUser" class="btn btn-warning">Yeni Kullanıcı Ekle</a>

