
@{
    ViewBag.Title = "Kisisel_Verilerin_Korunması";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="pt-80 pb-80 bg-orange">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h3 style="text-align:center;">KİŞİSEL VERİLERİN KORUNMASINA İLİŞKİN AYDINLATMA METNİ</h3>
                <br />
                <p>ADK Danışmanlık Ltd. Şti. (“ADK”) olarak 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun (“Kanun”) 10’uncu maddesinden doğan aydınlatma yükümlülüğümüzü yerine getirmek amacıyla işlediğimiz kişisel verileriniz hakkında sizleri bilgilendirmek isteriz.</p>
                <p>ADK tarafından işlenen kişisel verileriniz, kişisel verilerinizin hangi amaçlar ve ilkeler doğrultusunda işleneceği, işlenen kişisel verilerinizin kimlere ve hangi amaçla aktarılabileceği, kişisel verilerinizi toplamanın yöntemi, hukuki sebebi ve Kanun’dan doğan diğer haklarınız; bu aydınlatma metni ile sizlere bildirilmektedir.</p>
                <br />
                <h4>I. VERİ SORUMLUSU</h4>
                <br />
                <p>ADK Danışmanlık Limited Şirketi</p>
                <br />
                <h4>II. İŞLENEN KİŞİSEL VERİLERİNİZ</h4>
                <br />
                <p>
                    <b>Danışmanlık Hizmeti Almanız Nedeniyle İşlenen Verileriniz</b>
                </p>
                <p>
                    Kimlik bilgileriniz : Ad-soyadı, T.C. Kimlik No, doğum tarihi, doğum yeri, anne-baba adı, medeni hal, nüfus cüzdanı seri numarası, cinsiyet, imza.
                </p>
                <p>İletişim bilgileriniz : Cep telefonu numarası, mail adresi, adres.</p>
                <p>Müşteri işlem : Banka hesap numarası, vergi numarası, araç plaka numarası, araç ruhsat bilgileri, fatura bilgileri, sürücü belgesi, hasara ilişkin görsel kayıtlar.</p>
                <p>İşlem güvenliği : IP adresi, şifre-parola bilgileri, internet adresi ziyaret bilgileri, çerez kayıtları.</p>
                <p>Hukuki işlem : Sözleşmeler, vekaletnameler, sigorta poliçeleri, kaza tespit tutanakları, yetkili kişi, kurum ve kuruluşlarla yazışmalardaki bilgiler, yasal taleplere ilişkin bilgiler.</p>
                <p>Sağlık verileri : Hastane/muayene kayıtları, sağlık durumuna ilişkin raporlar, kaza tespit tutanaklarında yer alan sağlık verileri, kan grubu, engellilik durumu vb. kişisel sağlık verileri.</p>
                <br />
                <h4>III. KİŞİSEL VERİLERİNİZİN İŞLENMESİNDE HÂKİM OLAN İLKELER</h4>
                <br />
                <p>Genel ve özel nitelikli kişisel verileriniz aşağıdaki ilkeler ışığında işlenmektedir:</p>
                <ul>
                    <li>Hukuka ve dürüstlük kurallarına uygunluk</li>
                    <li>Doğruluk ve güncellik</li>
                    <li>Belirli, açık ve meşru amaçlar için işlenme</li>
                    <li>İşlendikleri amaçla bağlantılı, sınırlı ve ölçülü olma</li>
                    <li>İlgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar tutulma</li>
                </ul>
                <br />
                <h4>IV. KİŞİSEL VERİLERİNİZİN İŞLENME AMAÇLARI</h4>
                <br />
                <p>Kişisel verileriniz aşağıda belirtilen amaçlar doğrultusunda işlenmektedir:</p>
                <ul>
                    <li>Danışmanlık hizmetlerinin yürütülmesi,</li>
                    <li>Faaliyetlerin mevzuata uygun yürütülmesi,</li>
                    <li>Firma/ürün/hizmetlere bağlılık süreçlerinin yürütülmesi,</li>
                    <li>Hukuk işlerinin takibi ve yürütülmesi,</li>
                    <li>İletişim faaliyetlerinin yürütülmesi,</li>
                    <li>İş faaliyetlerinin yürütülmesi,</li>
                    <li>İş sürekliliğinin sağlanması faaliyetlerinin yürütülmesi,</li>
                    <li>Hizmet satış sonrası destek hizmetlerinin yürütülmesi,</li>
                    <li>Hizmet satış süreçlerinin yürütülmesi,</li>
                    <li>Hizmet üretim ve operasyon süreçlerinin yürütülmesi,</li>
                    <li>Müşteri ilişkileri yönetimi süreçlerinin yürütülmesi,</li>
                    <li>Müşteri memnuniyetine yönelik aktivitelerin yürütülmesi,</li>
                    <li>Sözleşme süreçlerinin yürütülmesi,</li>
                    <li>Talep/şikayetlerin takibi,</li>
                    <li>Yetkili kişi, kurum ve kuruluşlara bilgi verilmesi.</li>
                </ul>
                <br />
                <h4>V. KİŞİSEL VERİLERİNİZİ TOPLAMAMIZIN YÖNTEMİ VE HUKUKİ SEBEBİ</h4>
                <br />
                <p>Kişisel verileriniz, Kanun’un 5’inci ve 6’ncı maddelerinde belirtilen:</p>
                <ul>
                    <li>Açık rıza beyanınızın bulunması halinde,</li>
                    <li>Kanunlarda açıkça öngörülmesi,</li>
                    <li>Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,</li>
                    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması,</li>
                    <li>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,</li>
                    <li>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması,</li>
                </ul>
                <p>hukuki sebeplerine dayalı olarak elektronik ve fiziki ortamda otomatik olarak işlenmektedir.</p>
                <br />
                <h4>VI. KİŞİSEL VERİLERİNİZİN ÜÇÜNCÜ KİŞİLERE AKTARIMI</h4>
                <br />
                <p>Kişisel verileriniz, genel olarak bu aydınlatma metninin IV numaralı maddesinde belirtilen işleme amaçları ile spesifik olarak aşağıda belirtilen amaçlar doğrultusunda üçüncü kişiler ile paylaşılmaktadır:</p>
                <ul>
                    <li>Danışmanlık hizmetini etkin bir şekilde sunabilmek/satabilmek amacıyla iş ortaklarımız ve hizmet sağlayıcılarımız ile,</li>
                    <li>Faturalandırma ve finansal süreçlerin yürütülmesi amacıyla iş ortaklarımız, hizmet sağlayıcılarımız ve ilgili bankalar ile,</li>
                    <li>Bilişim işlemlerinin yürütülmesi amacıyla hizmet sağlayıcılarımız ile,</li>
                    <li>Danışmanlık hizmetine konu hukuki süreçlerin yürütülmesi amacıyla yetkili avukatlar ile,</li>
                    <li>Hukuki yükümlülüklerimizi yerine getirebilmek amacıyla yetkili kamu kurum ve kuruluşları ile.</li>
                </ul>
                <br />
                <h4>VII. KANUN’DAN DOĞAN HAKLARINIZ</h4>
                <br />
                <p>Kanun’un “ilgili kişinin hakları” başlıklı 11’inci maddesi kapsamında;</p>
                <ul>
                    <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,</li>
                    <li>Kişisel verileriniz işlenmiş ise buna ilişkin bilgi talep etme,</li>
                    <li>Kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
                    <li>Kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,</li>
                    <li>Kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme, kişisel verilerinizin silinmesini veya yok edilmesini isteme,</li>
                    <li>Kişisel verilerinizin düzeltilmesi, silinmesi veya yok edilmesine ilişkin yapılan işlemlerin, kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                    <li>İşlenen verilerinizin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,</li>
                    <li>Kişisel verilerinizin mevzuata aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararınızın giderilmesini talep etme haklarına sahipsiniz.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br /><br />
