
@{
    ViewBag.Title = "Ozel_Nitelik";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section pt-80 pb-80>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="page-text">
                    <h3 style="text-align:center;">ADK DANIŞMANLIK LTD. ŞTİ. ÖZEL NİTELİKLİ KİŞİSEL VERİ SAKLAMA VE İMHA POLİTİKASI</h3>
                    <br />
                    <h4>1. İMHA POLİTİKASININ AMACI</h4>
                    <br />
                    <p>İşbu “Özel Nitelikli Kişisel Veri Saklama ve İmha Politikası’nın” hazırlanma amacı, 6698 sayılı Kişisel Verilerin Korunması Kanunu, Kişisel Verilerin Silinmesi, Yok Edilmesi veya Anonim Hale Getirilmesi Hakkında Yönetmelik ile Kişisel Verileri Koruma Kurulu’nun 31.01.2018 tarihli ve 2018/10 sayılı kararı ve diğer ilgili kararları uyarınca ADK Danışmanlık Ltd. Şti. tarafından işlenen özel nitelikli kişisel verilerin saklanması ve imhasına ilişkin faaliyetlerin usul ve esaslarını belirlemektir.</p>
                    <br />
                    <h4>2. İMHA POLİTİKASININ KAPSAMI</h4>
                    <br />
                    <p>
                        ADK tarafından işlenen özel nitelikli kişisel veriler, bu Politika kapsamındadır. ADK’nın sahip olduğu ya da ADK tarafından yönetilen özel nitelikli kişisel verilerin işlendiği tüm kayıt ortamları ve özel nitelikli kişisel verilerin işlenmesine yönelik faaliyetlerde bu Politika uygulanır.
                        <br /><br />
                        Özel nitelikli kişisel verilerin saklanması ve imhasına ilişkin iş ve işlemler, bu doğrultuda hazırlanmış olan Politika’ya uygun olarak gerçekleştirilir.
                    </p>
                    <br />
                    <h4>3. TANIMLAR</h4>
                    <br />
                    <p>
                        <b>Alıcı Grubu:</b> Veri sorumlusu tarafından kişisel verilerin aktarıldığı gerçek veya tüzel kişi kategorisi.<br /><br />
                        <b>Açık Rıza:</b> Belirli bir konuya ilişkin, bilgilendirilmeye dayanan ve özgür iradeyle açıklanan rıza.<br /><br />
                        <b>Elektronik Ortam:</b> Kişisel verilerin elektronik aygıtlar ile oluşturulabildiği, okunabildiği, değiştirilebildiği ve yazılabildiği ortamlar.<br /><br />
                        <b>Elektronik Olmayan Ortam:</b> Elektronik ortamların dışında kalan tüm yazılı, basılı, görsel vb. diğer ortamlar.<br /><br />
                        <b>ADK:</b> ADK Danışmanlık Ltd. Şti.<br /><br />
                        <b>İlgili Kişi:</b> Kişisel verisi işlenen gerçek kişi.<br /><br />
                        <b>İmha:</b> Kişisel verilerin silinmesi, yok edilmesi veya anonim hale getirilmesi.<br /><br />
                        <b>Kanun</b> 6698 Sayılı Kişisel Verilerin Korunması Kanunu.<br /><br />
                        <b>Kayıt Ortamı:</b> Tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla işlenen kişisel verilerin bulunduğu her türlü ortam.<br /><br />
                        <b>Kişisel Veri:</b> Kimliği belirli veya belirlenebilir gerçek kişiye ilişkin her türlü bilgi.<br /><br />
                        <b>Kişisel Verilerin İşlenmesi:</b> Kişisel verilerin tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilmesi, kaydedilmesi, depolanması, saklanması, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devralınması, elde edilebilir hale getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi gibi veriler üzerinde gerçekleştirilen her türlü işlem.<br /><br />
                        <b>Özel Nitelikli Kişisel Veri:</b> Kişilerin ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini, mezhebi veya diğer inançları, kılık ve kıyafeti, dernek, vakıf ya da sendika üyeliği, sağlığı, cinsel hayatı, ceza mahkûmiyeti ve güvenlik tedbirleriyle ilgili verileri ile biyometrik ve genetik verileri.<br /><br />
                        <b>Periyodik İmha:</b> Kanunda yer alan kişisel verilerin işlenme şartlarının tamamının ortadan kalkması durumunda kişisel verileri saklama ve imha politikasında belirtilen ve tekrar eden aralıklarla re’sen gerçekleştirilecek silme, yok etme veya anonim hale getirme işlemi.<br /><br />
                        <b>Politika:</b> Kişisel Veri Saklama ve İmha Politikası<br /><br />
                        <b>Veri Kayıt Sistemi:</b> Kişisel verilerin belirli kriterlere göre yapılandırılarak işlendiği kayıt sistemi.<br /><br />
                        <b>Veri Sorumlusu:</b> Kişisel verilerin işleme amaçlarını ve vasıtalarını belirleyen, veri kayıt sisteminin kurulmasında ve yönetilmesinden sorumlu gerçek veya tüzel kişi.<br /><br />
                        <b>Yönetmelik:</b> 28.10.2017 tarihli Resmî Gazete’de yayımlanan Kişisel Verilerin Silinmesi, Yok Edilmesi veya Anonim Hale Getirilmesi Hakkında Yönetmelik.<br /><br />
                    </p>
                    <br />
                    <h4>4. SORUMLULUK VE GÖREV DAĞILIMI</h4>
                    <br />
                    <p>ADK’nın tüm birimleri ve çalışanları, Politika doğrultusunda alınan teknik ve idari tedbirlerin uygulanması, çalışanların eğitimi ve farkındalığının arttırılması, izlenmesi ve denetimi ile özel nitelikli kişisel verilerin hukuka aykırı olarak işlenmesinin ve erişilmesinin önlenmesi ve özel nitelikli kişisel verilerin hukuka uygun saklanmasının sağlanması amacıyla kişisel veri işlenen tüm ortamlarda veri güvenliğini sağlamaya yönelik teknik ve idari tedbirlerin alınması konularında sorumlularla dayanışma içerisinde hareket eder.</p>
                    <table>
                        <tbody>
                            <tr>
                                <th>UNVAN</th>
                                <th>GOREV</th>
                            </tr>
                            <tr>
                                <td>Genel Müdür</td>
                                <td>Çalışanların politikaya uygun hareket etmesinden sorumludur.</td>
                            </tr>
                            <tr>
                                <td>Genel Müdür Yardımcısı</td>
                                <td>Politika’nın hazırlanması, geliştirilmesi, yürütülmesi, ilgili ortamlarda yayınlanması, güncellenmesi ve idari tedbirlerin alınmasından sorumludur.</td>
                            </tr>
                            <tr>
                                <td>Bilgi İşlem ve Operasyon Birimi</td>
                                <td>Politika’nın uygulanmasında teknik tedbirlerin sunulmasından sorumludur.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <h4>5. KAYIT ORTAMLARI</h4>
                    <br />
                    <table>
                        <tbody>
                            <tr>
                                <th>Elektronik Ortamlar</th>
                                <th>Elektronik Olmayan Ortamlar</th>
                            </tr>
                            <tr>
                                <td>
                                    1. Sunucular (Bulut ortam, veri tabanı, yedekleme, e-posta, web)<br />
                                    2. Yazılımlar (ofis yazılımları, portal)<br />
                                    3. Çalışan bilgisayarları ve mobil aygıtlar<br />
                                    4. Harici bellekler<br />
                                    5. Yazıcı, tarayıcı, fotokopi makinesi<br />
                                </td>
                                <td>
                                    1. Kâğıt<br />
                                    2. Şirket arşivi<br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <h4>6. SAKLAMA VE İMHA SEBEPLERİNE İLİŞKİN AÇIKLAMA</h4>
                    <br />
                    <p>
                        ADK’nın faaliyetleri çerçevesinde işlenen özel nitelikli kişisel veriler; hukuka ve dürüstlük kurallarına uygun, doğru ve güncel, belirli, açık ve meşru amaçlar doğrultusunda, işlendikleri amaçla bağlantılı, sınırlı ve ölçülü olarak işlenir. Bu kişisel veriler, ilgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilme koşulu ile saklanır.
                        <br /><br />
                        Kişilerin ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini, mezhebi veya diğer inançları, kılık ve kıyafeti, dernek, vakıf ya da sendika üyeliği, sağlığı, cinsel hayatı, ceza mahkûmiyeti ve güvenlik tedbirleriyle ilgili verileri ile biyometrik ve genetik verileri özel nitelikli kişisel verilerdir. Özel nitelikli kişisel veriler, ifşa olması veya ilgisi olmayan kişilerce bilinmesi halinde ilgili kişinin toplum hayatında ayrımcılığa uğramasına, maddi ve manevi varlığının ihlal edilmesine ve telafisi güç veya imkânsız zararların doğmasına neden olması kuvvetle muhtemel veri türleridir. Bu nedenle özel nitelikli kişisel verilerin işlenebilmesi için Kanun’da hususi hukuki sebepler öngörülmüştür.
                        <br /><br />
                        ADK, kişilerin ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini, mezhebi veya diğer inançları, kılık ve kıyafeti, dernek, vakıf ya da sendika üyeliği, ceza mahkûmiyeti ve güvenlik tedbirleriyle ilgili verileri ile biyometrik ve genetik verileri; Kanun’da belirtilen şu hukuki sebeplere dayanarak işler:
                    </p>
                    <ul>
                        <li>İlgili kişinin açık rızası,</li>
                        <li>Kanunlarda açıkça öngörülmesi.</li>
                    </ul>
                    <p>
                        kişisel sağlık verileri ile cinsel yaşama ilişkin bilgileri, ilgilinin açık rızasının bulunması halinde işlemektedir. Bununla birlikte kişisel sağlık verileri ile cinsel yaşama ilişkin bilgiler; kamu sağlığının korunması, koruyucu hekimlik, tıbbî teşhis, tedavi ve bakım hizmetlerinin yürütülmesi, sağlık hizmetleri ile finansmanının planlanması ve yönetimi amacıyla, sır saklama yükümlülüğü altında bulunan kişiler veya yetkili kurum ve kuruluşlar tarafından ilgilinin açık rızası aranmaksızın işlenebilir.
                        <br /><br />
                        Tüm bunların yanı sıra ADK, özel nitelikli kişisel verileri, Kanun’un 6’ncı maddesinin dördüncü fıkrası gereğince alınan Kişisel Verileri Koruma Kurulu’nun 31.01.2018 tarihli ve 2018/10 sayılı kararında belirtilen önlemleri almak ve gerekli işlemleri yerine getirmek suretiyle işlemektedir.
                        <br /><br />
                        ADK, aşağıda sayılan hallerde kişisel verileri re’sen veya talep üzerine siler, yok eder veya anonim hale getirir:
                    </p>
                    <ul>
                        <li>Kişisel verilerin işlenmesine esas teşkil eden ilgili mevzuat hükümlerinin değiştirilmesi veya ilgası,</li>
                        <li>Kişisel verilerin işlenmesini veya saklanmasını gerektiren amacın ortadan kalkması,</li>
                        <li>Kişisel verileri işlemenin sadece açık rıza şartına istinaden gerçekleştiği hallerde, ilgili kişinin açık rızasını geri alması,</li>
                        <li>Kanunun 11’inci maddesi gereği ilgili kişinin hakları çerçevesinde kişisel verilerinin silinmesi ve yok edilmesine ilişkin yaptığı başvurunun ADK tarafından kabul edilmesi,</li>
                        <li>ADK’nın, ilgili kişi tarafından kişisel verilerinin silinmesi, yok edilmesi veya anonim hale getirilmesi talebi ile kendisine yapılan başvuruyu reddetmesi, verdiği cevabı yetersiz bulması veya Kanunda öngörülen süre içinde cevap vermemesi hallerinde; Kişisel Verileri Koruma Kurumuna şikâyette bulunması ve bu talebin Kurumca uygun bulunması,</li>
                        <li>Kişisel verilerin saklanmasını gerektiren azami sürenin geçmiş olması ve kişisel verileri daha uzun süre saklamayı haklı kılacak herhangi bir şartın mevcut olmaması.</li>
                    </ul>
                    <br />
                    <h4>7. TEKNİK VE İDARİ TEDBİRLER</h4>
                    <br />
                    <p>Kişisel verilerin güvenli bir şekilde saklanması, hukuka aykırı olarak işlenmesi ve erişilmesinin önlenmesi ve hukuka uygun olarak imha edilmesi için Kanun’un 12’nci maddesi ve 6’ncı maddesinin dördüncü fıkrası uyarınca gerekli teknik ve idari tedbirler alınır.</p>
                    <p>
                        <b>7.1. Teknik Tedbirler</b>
                    </p>
                    <ul>
                        <li>Ağ güvenliği ve uygulama güvenliği sağlanmaktadır.</li>
                        <li>Ağ yoluyla kişisel veri aktarımlarında kapalı sistem ağ kullanılmaktadır.</li>
                        <li>Anahtar yönetimi uygulanmaktadır.</li>
                        <li>Bulutta depolanan kişisel verilerin güvenliği sağlanmaktadır.</li>
                        <li>Çalışanlar için yetki matrisi oluşturulmuştur.</li>
                        <li>Erişim logları düzenli olarak tutulmaktadır.</li>
                        <li>Gerektiğinde veri maskeleme önlemi uygulanmaktadır.</li>
                        <li>Güncel anti-virüs sistemleri kullanılmaktadır.</li>
                        <li>Güvenlik duvarları kullanılmaktadır.</li>
                        <li>Kişisel veri güvenliği sorunları hızlı bir şekilde raporlanmaktadır.</li>
                        <li>Kişisel veri güvenliğinin takibi yapılmaktadır.</li>
                        <li>Kişisel veriler yedeklenmekte ve yedeklenen kişisel verilerin güvenliği de sağlanmaktadır.</li>
                        <li>Kurum içi periyodik ve/veya rastgele denetimler yapılmakta ve yaptırılmaktadır.</li>
                        <li>Log kayıtları kullanıcı müdahalesi olmayacak şekilde tutulmaktadır.</li>
                        <li>Siber güvenlik önlemleri alınmış olup uygulanması sürekli takip edilmektedir.</li>
                        <li>Şifreleme yapılmaktadır.</li>
                    </ul>
                    <p>
                        <b>7.2. İdari Tedbirler</b>
                    </p>
                    <ul>
                        <li>Çalışanlar için veri güvenliği hükümleri içeren disiplin düzenlemeleri mevcuttur.</li>
                        <li>Çalışanlar için veri güvenliği konusunda belli aralıklarla eğitim ve farkındalık çalışmaları yapılmaktadır.</li>
                        <li>Görev değişikliği olan ya da işten ayrılan çalışanların bu alandaki yetkileri kaldırılmaktadır.</li>
                        <li>Kişisel veri güvenliği politika ve prosedürleri belirlenmiştir.</li>
                        <li>Kişisel veri güvenliğinin takibi yapılmaktadır.</li>
                        <li>Kurum içi periyodik ve/veya rastgele denetimler yapılmakta ve yaptırılmaktadır.</li>
                        <li>Mevcut risk ve tehditler belirlenmiştir.</li>
                        <li>İmzalanan sözleşmeler veri güvenliği hükümleri içermektedir.</li>
                        <li>Özel nitelikli kişisel veri güvenliğine yönelik protokol ve prosedürler belirlenmiş ve uygulanmaktadır.</li>
                    </ul>
                    <br />
                    <h4>8. İMHAYA İLİŞKİN TEDBİR VE TEKNİKLER</h4>
                    <br />
                    <p>İlgili mevzuatta öngörülen süre ya da işlendikleri amaç için gerekli olan saklama süresinin sonunda kişisel veriler, ADK tarafından re’sen veya ilgili kişinin talebi üzerine aşağıda belirtilen tekniklerle imha edilir.</p>
                    <p>
                        <b>8.1. Silme</b>
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <th>Veri Kayıt Ortamı</th>
                                <th>Açıklama</th>
                            </tr>
                            <tr>
                                <td>Sunucularda Yer Alan Kişisel Veriler</td>
                                <td>Sunucularda yer alan kişisel verilerden saklanmasını gerektiren süre sona erenler için sistem yöneticisi tarafından ilgili kullanıcıların erişim yetkisi kaldırılarak silme işlemi yapılır.</td>
                            </tr>
                            <tr>
                                <td>Elektronik Ortamda Yer Alan Kişisel Veriler</td>
                                <td>Elektronik ortamda yer alan kişisel verilerden saklanmasını gerektiren süre sona erenler, veri tabanı yöneticisi hariç diğer çalışanlar için hiçbir şekilde erişilemez ve tekrar kullanılamaz hale getirilir.</td>
                            </tr>
                            <tr>
                                <td>Fiziksel Ortamda Yer Alan Kişisel Veriler</td>
                                <td>Fiziksel ortamda tutulan kişisel verilerden saklanmasını gerektiren süre sona erenler için evrak arşivinden sorumlu birim yöneticisi hariç diğer çalışanlar için hiçbir şekilde erişilemez ve tekrar kullanılamaz hale getirilir. Ayrıca, üzeri okunamayacak şekilde çizilerek/boyanarak/silinerek karartma işlemi de uygulanır</td>
                            </tr>
                            <tr>
                                <td>Harici Belleklerde Bulunan Kişisel Veriler</td>
                                <td>Flash tabanlı saklama ortamlarında tutulan kişisel verilerden saklanmasını gerektiren süre sona erenler, sistem yöneticisi tarafından şifrelenerek ve erişim yetkisi sadece sistem yöneticisine verilerek şifreleme anahtarlarıyla güvenli ortamlarda saklanır.</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p>
                        <b>8.2. Yok Etme</b>
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <th>Veri Kayıt Ortamı</th>
                                <th>Açıklama</th>
                            </tr>
                            <tr>
                                <td>Fiziksel Ortamda Yer Alan Kişisel Veriler</td>
                                <td>Kâğıt ortamında yer alan kişisel verilerden saklanmasını gerektiren süre sona erenler, kâğıt kırpma makinelerinde geri döndürülemeyecek şekilde yok edilir.</td>
                            </tr>
                            <tr>
                                <td>Optik / Manyetik Medyada Yer Alan Kişisel Veriler</td>
                                <td>Optik medya ve manyetik medyada yer alan kişisel verilerden saklanmasını gerektiren süre sona erenlerin eritilmesi, yakılması veya toz haline getirilmesi gibi fiziksel olarak yok edilmesi işlemi uygulanır</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p>
                        <b>8.3. Anonim Hale Getirme</b>
                    </p>
                    <p>Kişisel verilerin hiçbir surette kimliği belirli veya belirlenebilir bir gerçek kişiyle ilişkilendirilemeyecek hale getirilmesine anonim hale getirme adı verilir. Anonimleştirmeden bahsedebilmek için; kişisel verilerin, veri sorumlusu veya üçüncü kişiler tarafından geri döndürülmesi ve/veya verilerin başka verilerle eşleştirilmesi gibi kayıt ortamı ve ilgili faaliyet alanı açısından uygun tekniklerin kullanılması yoluyla dahi gerçek kişiyle ilişkilendirilemez hale getirilmesi gerekir.</p>
                    <br />
                    <h4>9. SAKLAMA VE İMHA SÜRELERİ</h4>
                    <br />
                    <table>
                        <tbody>
                            <tr>
                                <td>Hizmetler</td>
                                <td>Saklama Süresi</td>
                                <td>İmha Süresi</td>
                            </tr>
                            <tr>
                                <td>Çalışanlarımızın kişisel sağlık bilgileri</td>
                                <td>İş sözleşmenin sona ermesinden sonra 10 yıl</td>
                                <td>Saklama süresinin sona ermesinden itibaren 180 gün içerisinde</td>
                            </tr>
                            <tr>
                                <td>Çalışanlarımızın ceza mahkumiyetine ve güvenlik tedbirlerine ilişkin bilgiler</td>
                                <td>İş sözleşmenin sona ermesinden sonra 10 yıl</td>
                                <td>Saklama süresinin sona ermesinden itibaren 180 gün içerisinde</td>
                            </tr>
                            <tr>
                                <td>Danışmanlık hizmeti sunulan müşterilerimizin özel nitelikli kişisel verileri</td>
                                <td>15 yıl</td>
                                <td>Saklama süresinin sona ermesinden itibaren 180 gün içerisinde</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <h4>10. POLİTİKA’NIN GÜNCELLENMESİ</h4>
                    <br />
                    <p>Politika, ihtiyaç duyuldukça gözden geçirilir ve gerekli olan bölümler güncellenir.</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    table, th, td {
        border: 1px solid black;
        padding: 10px;
    }
</style>