@using EntityLayer.Concrete
@model List<User>
@{
    ViewBag.Title = "ShowCustomers";
    Layout = "~/Views/Shared/_LawyerLayout.cshtml";
}

<h2>Müşterileri Listele</h2>
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Telefon Numarası</th>
        <th>Dosyalar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.PhoneNumber</td>

            <td><a href="/LawyerPanel/ListFilesByUser/@item.UserId" class="btn btn-primary">Dosyalar</a></td>
        </tr>
    }
</table>
<br />


